<h1>New Vehicle</h1>
{{ vehicle | json }}
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" required #make="ngModel">
      <option value=""></option>
      <option value="" *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please enter a make.</div>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId">
      <option value=""></option>
      <option value="" *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <p>Is this vehicle registered?</p>
  <div class="radio">
    <label for="register">
      <input type="radio" id="register" name="isRegister" [value]="true" [(ngModel)]="vehicle.isRegistered">Yes
    </label>
  </div>
  <div class="radio">
    <label for="notRegister">
      <input type="radio" id="notRegister" name="isRegister" [value]="false" [(ngModel)]="vehicle.isRegistered">No
    </label>
  </div>
  <h2>Features</h2>
  <div class="checkbox" *ngFor="let f of features">
    <label for="feature{{ f.id}}"><input type="checkbox" id="feature{{ f.id}}" (change)="onFeatureToggle(f.id,$event)" [checked]="vehicle.features.includes(f.id)">{{ f.name }}</label>
  </div>
  <h2>Contact</h2>
  <div class="form-group"><label for="contactName">Name</label><input id="contactName" type="text" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName"></div>
  <div class="form-group"><label for="contactPhone">Phone</label><input id="contactPhone" type="text" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone"></div>
  <div class="form-group"><label for="contactEmail">Email</label><input id="contactEmail" type="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail"></div>
  <button class="btn btn-primary">Save</button>
  <button *ngIf="vehicle.id" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
</form>